:root {
  --dominant: #f9fafb;
  --soft-dominant: #f8f9fa;

  --main-text: #212529;
  --second-color: #6c757d; 

  --main-color: #3498db;
  --main-color-hover: #1d6fa5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', sans-serif;
}

header{
    
    padding: 4px;
    background-color: var(--main-color-hover);
    color: var(--soft-dominant);
    
    
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

   


.name-container a{

    text-decoration: none;
    color: inherit;

}

.name-container a:hover{

    font-weight: bold;
    color: var(--dominant);

}

.header-name {
    font-size: 20px;
    margin-left: 3px;
    letter-spacing: 5.5px;
    font-weight: 800;
}



.header-contact p {
   font-size: 15px;
   
    
}


.contact-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-item__icon {
    max-height: 20px;
    filter: invert(20%);
    
}

.contact-item__text {
    margin: 0;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
}

.hamburger-line {
    background-color: #333;
    display: block;
    height: 4px;
    transition: all 0.3s ease-in-out;
    width: 30px;
}

.nav-menu {
    display: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 15px;

}

.nav-list-item {
   
    margin-right: 10px;
}

.nav-link{
    text-decoration: none;
    color: var(--soft-dominant);

}

.nav-link:hover{
    font-weight: bold;
    color: var(--dominant);
}

.main-container {
}

.section-hero {
}

.container {
}

.hero-title {
}

.hero-subtitle {
}

.section-content {
}

.about-row {
}

.section-title {
}

.about-row__card {
}

.profile-image {
}

.about-text {
}

#age {
}

.skills-grid {
}

.skill-item {
}

.skill-item__icon {
}

.skill-item__title {
}

.skill-item__text {
}

.portfolio-grid {
}

.project-card {
}

.project-card__title {
}

.project-card__text {
}

.project-card__tags {
}

.btn-primary {
}

.contact-grid {
}

.recommendations-grid {
}

.recommendation-item {
}

.recommendation-item__quote {
}

.recommendation-item__title {
}

.recommendation-item__text {
}

.quote {
}

.leave-recommendation {
}

.recommendation-form {
}

.recommendation-form__title {
}

.recommendation-form__input {
}

.recommendation-form__message {
}

.recommendation-form__action {
}

.recommendation-form__btn {
}

.iconbutton {
}

.popup {
}

.footer-global {
}

.footer-text {
}

.footer-page-links {
}

.page-link {
}
